<div class="result">
    {{#each docs}}
        <div class="result-inner">
            <h2 class="title">
                <a href="{{url}}" target="_blank">{{title}}</a>
            </h2>
            <div class="thumb-large">
                {{#if image}}
                    <img {{#if width}}style="width:{{width}}px;"{{/if}} src="{{image}}"/>
                {{/if}}
            </div>
            <p class="url">
                {{#if url}}
                    {{url}}
                {{else}}
                    {{host}}
                {{/if}}
            </p>

            <p class="summary">
                {{summary}}
            </p>
        </div>
    {{/each}}
</div>